body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(69, 15, 94);
}
.clock{
  
  display: flex;
  margin-top:-150px;
   margin-right: 5px;
  padding-right: 10px;
  font-size: 40px;
  border: 2px solid black;
  background:url('hq720.jpg')center ;
  background-size: cover;
  background-clip: text;
  color: transparent;
   box-shadow: 4px 4px 18px white;
animation: animate 10s linear infinite;
}

@keyframes animate{
to{
  background-position-x:-200px ;
}
}


/* calculator */
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 46, 46);
    border-radius: 15px;
    max-width: 450px;
    width:100%;
    overflow: hidden;
   border: 5px solid black;
   box-shadow: 4px 4px 18px white;

}
#display{
    width: 460px;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    color:white;
    background-color:  rgb(15, 83, 83);
    border: 1px solid black;
    box-sizing:border-box;
}

#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    padding: 30px;
border: 1px solid black;
}

button{
    width: 60px;
    height:60px;
  background: 
  linear-gradient(to right, rgb(34, 1, 58), rgb(216, 133, 133)),
  linear-gradient(to bottom, aqua, rgb(133, 14, 133));
background-blend-mode: screen;
    border-color: rgb(125, 245, 253);
    border-radius: 30px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
     box-shadow: 4px 4px 18px rgb(0, 13, 19);
}

button:hover{
   background:   linear-gradient(to right, rgb(14, 1, 24), rgb(206, 92, 92)),
  linear-gradient(to bottom, rgb(10, 133, 133), rgb(65, 3, 65));
}
button:active{
    background:   linear-gradient(to right, rgb(14, 1, 24), rgb(206, 92, 92)),
  linear-gradient(to bottom, rgb(10, 133, 133), rgb(65, 3, 65));
}
.operator-btn{
    background:   linear-gradient(to right, rgb(15, 0, 26), rgb(224, 27, 27)),
  linear-gradient(to bottom, rgb(4, 48, 48), rgb(49, 2, 49));
}
.operator-btn:hover{
      background:   linear-gradient(to right, rgb(33, 1, 56), rgb(184, 53, 53)),
  linear-gradient(to bottom, rgb(3, 100, 100), rgb(230, 10, 230));
}
.operator-btn:active{
      background:   linear-gradient(to right, rgb(33, 1, 56), rgb(184, 53, 53)),
  linear-gradient(to bottom, rgb(14, 248, 248), rgb(230, 10, 230));
}
/* active=flash by click */
